DataAccess/Web References/AuditLog_DevService/ES_AuditLogging.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.acurussolutions.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.acurussolutions.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logs the Audit Trail for EHR Modules</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.acurussolutions.com">
      <s:element name="InsertAuditLoggingDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_HumanID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_EntityName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_EntityID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_AttributeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_OldValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_NewValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_TransactionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Transaction_By" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Transaction_Date_Time" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAuditLoggingDetailsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertAuditLoggingDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAuditLoggingDetails" />
  </wsdl:message>
  <wsdl:message name="InsertAuditLoggingDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAuditLoggingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAuditLoggingDetailsHttpGetIn">
    <wsdl:part name="ProjectName" type="s:string" />
    <wsdl:part name="_HumanID" type="s:string" />
    <wsdl:part name="_EntityName" type="s:string" />
    <wsdl:part name="_EntityID" type="s:string" />
    <wsdl:part name="_AttributeName" type="s:string" />
    <wsdl:part name="_OldValue" type="s:string" />
    <wsdl:part name="_NewValue" type="s:string" />
    <wsdl:part name="_TransactionType" type="s:string" />
    <wsdl:part name="_Transaction_By" type="s:string" />
    <wsdl:part name="_Transaction_Date_Time" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertAuditLoggingDetailsHttpGetOut" />
  <wsdl:message name="InsertAuditLoggingDetailsHttpPostIn">
    <wsdl:part name="ProjectName" type="s:string" />
    <wsdl:part name="_HumanID" type="s:string" />
    <wsdl:part name="_EntityName" type="s:string" />
    <wsdl:part name="_EntityID" type="s:string" />
    <wsdl:part name="_AttributeName" type="s:string" />
    <wsdl:part name="_OldValue" type="s:string" />
    <wsdl:part name="_NewValue" type="s:string" />
    <wsdl:part name="_TransactionType" type="s:string" />
    <wsdl:part name="_Transaction_By" type="s:string" />
    <wsdl:part name="_Transaction_Date_Time" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertAuditLoggingDetailsHttpPostOut" />
  <wsdl:portType name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="InsertAuditLoggingDetails">
      <wsdl:input message="tns:InsertAuditLoggingDetailsSoapIn" />
      <wsdl:output message="tns:InsertAuditLoggingDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpGet">
    <wsdl:operation name="InsertAuditLoggingDetails">
      <wsdl:input message="tns:InsertAuditLoggingDetailsHttpGetIn" />
      <wsdl:output message="tns:InsertAuditLoggingDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpPost">
    <wsdl:operation name="InsertAuditLoggingDetails">
      <wsdl:input message="tns:InsertAuditLoggingDetailsHttpPostIn" />
      <wsdl:output message="tns:InsertAuditLoggingDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceSoap" type="tns:Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertAuditLoggingDetails">
      <soap:operation soapAction="http://www.acurussolutions.com/InsertAuditLoggingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceSoap12" type="tns:Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertAuditLoggingDetails">
      <soap12:operation soapAction="http://www.acurussolutions.com/InsertAuditLoggingDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpGet" type="tns:Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="InsertAuditLoggingDetails">
      <http:operation location="/InsertAuditLoggingDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpPost" type="tns:Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="InsertAuditLoggingDetails">
      <http:operation location="/InsertAuditLoggingDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logs the Audit Trail for EHR Modules</wsdl:documentation>
    <wsdl:port name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceSoap" binding="tns:Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://172.18.1.116:180/Audit/ES_AuditLogging.asmx" />
    </wsdl:port>
    <wsdl:port name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceSoap12" binding="tns:Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceSoap12">
      <soap12:address location="http://172.18.1.116:180/Audit/ES_AuditLogging.asmx" />
    </wsdl:port>
    <wsdl:port name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpGet" binding="tns:Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpGet">
      <http:address location="http://172.18.1.116:180/Audit/ES_AuditLogging.asmx" />
    </wsdl:port>
    <wsdl:port name="Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpPost" binding="tns:Enterprise_x0020_Audit_x0020_Logging_x0020_Web_x0020_ServiceHttpPost">
      <http:address location="http://172.18.1.116:180/Audit/ES_AuditLogging.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>