PatientPortal/Service References/PatientPortalServiceReference/PatientPortalWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientDetailsUsingPatientInformattion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ulHumanID" type="s:unsignedLong" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientDetailsUsingPatientInformattionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientDetailsUsingPatientInformattionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientDetailsUsingPatientInformattionSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientDetailsUsingPatientInformattion" />
  </wsdl:message>
  <wsdl:message name="GetPatientDetailsUsingPatientInformattionSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientDetailsUsingPatientInformattionResponse" />
  </wsdl:message>
  <wsdl:portType name="PatientPortalWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetailsUsingPatientInformattion">
      <wsdl:input message="tns:GetPatientDetailsUsingPatientInformattionSoapIn" />
      <wsdl:output message="tns:GetPatientDetailsUsingPatientInformattionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientPortalWebServiceSoap" type="tns:PatientPortalWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetailsUsingPatientInformattion">
      <soap:operation soapAction="http://tempuri.org/GetPatientDetailsUsingPatientInformattion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PatientPortalWebServiceSoap12" type="tns:PatientPortalWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientDetailsUsingPatientInformattion">
      <soap12:operation soapAction="http://tempuri.org/GetPatientDetailsUsingPatientInformattion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientPortalWebService">
    <wsdl:port name="PatientPortalWebServiceSoap" binding="tns:PatientPortalWebServiceSoap">
      <soap:address location="http://localhost:53630/WebServices/PatientPortalWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PatientPortalWebServiceSoap12" binding="tns:PatientPortalWebServiceSoap12">
      <soap12:address location="http://localhost:53630/WebServices/PatientPortalWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>